name: Build snapshot

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Temurin 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin

      - name: Build
        run: ./gradlew build --stacktrace --warning-mode fail

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ukulib-artifacts
          path: build/libs/*.jar

      - name: Publish to the maven repo
        run: ./gradlew publishAllPublicationsToUkuRepository
        env:
          ORG_GRADLE_PROJECT_mavenUsername: ${{ secrets.MAVEN_USERNAME }}
          ORG_GRADLE_PROJECT_mavenPassword: ${{ secrets.MAVEN_PASSWORD }}
