name: build (jdk 17)

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Temurin 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Checkout sources
        uses: actions/checkout@v3
      - name: Cache/Uncache
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/loom-cache
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build
        run: ./gradlew build --stacktrace --warning-mode fail
      - name: Upload build artifacts
        continue-on-error: true
        uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: build/libs/
      - name: Publish to the snapshots maven repo
        run: ./gradlew publishAllPublicationsToUkuSnapshotsRepository
        env:
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}