name: Build snapshot

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6

      - name: Setup Temurin 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: temurin

      - name: Cache/Uncache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/loom-cache
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build
        run: ./gradlew build --stacktrace --warning-mode fail

      - name: Upload build artifacts
        continue-on-error: true
        uses: actions/upload-artifact@v6
        with:
          name: Artifacts
          path: build/libs/

      - name: Publish to the snapshots maven repo
        run: ./gradlew publishAllPublicationsToUkuSnapshotsRepository
        env:
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
