name: release

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Temurin 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Publish to the maven repo
        run: ./gradlew publish -Pbuild.release=true
        env:
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
      - name: Publish to Modrinth
        run: ./gradlew modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
